.drawing-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

    #drawing-area {
        width: 100%;
        height: 100%;
    }

    


    input {
        position: absolute;
        left: 0;
        top: 0;
    }

}

.toolbar-wrapper {
    height: 44px;
    background-color: #262627;
    display: flex;
    justify-content: center;

    .toolbar {
        height: 100%;
        display: flex;
        align-items: center;
        gap: 10px;


        .tool-icon {
            border-radius: .5rem;
            background-color: #4F4D6F;
            cursor: pointer;

            &:hover {
                background-color: #3D3D3D;
            }
        }
    }


}