html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

div {
    box-sizing: border-box;
}

html.dark {
    color-scheme: dark;
}

#root {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
